<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>icojs - egy186.github.io</title>
  <meta name="author" content="egy186">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" defer></script>
  <script src="https://unpkg.com/icojs@<%= version %>/dist/ico.js" defer></script>
  <script src="demo.js" defer=""></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/github.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    header h1 a {
      font-size: 72px;
      color: inherit;
      text-decoration: none;
    }

    header h1 a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body class="container" data-spy="scroll" data-target="#nav">
  <div class="row">
    <header class="col-md-12">
      <h1><a href="./">icojs</a> <small class="text-muted">v<%= version %></small></h1>
      <p class="lead">A JavaScript library to use ICO.</p>
      <p><small><a href="https://www.npmjs.com/package/icojs" title="npm"><img src="https://img.shields.io/npm/v/icojs.svg" alt="npm"></a> <a href="https://github.com/egy186/icojs/actions/workflows/ci.yml" title="CI"><img src="https://github.com/egy186/icojs/actions/workflows/ci.yml/badge.svg" alt="CI"></a></small></p>
    </header>
    <nav class="col-md-3" id="nav">
      <h2 class="sr-only">Table of Contents</h2>
      <ul class="nav nav-pills flex-column pt-3 sticky-top">
        <li class="nav-item"><a class="nav-link" href="#install">Install</a></li>
        <li class="nav-item"><a class="nav-link" href="#example">Example</a></li>
        <li class="nav-item"><a class="nav-link" href="#demo">Demo</a></li>
        <li class="nav-item"><a class="nav-link" href="#api">API</a></li>
      </ul>
    </nav>
    <main class="col-md-9">
      <section id="install">
        <%- docs.install %>
      </section>
      <section id="example">
        <%- docs.example %>
      </section>
      <section id="demo">
        <h2>Demo</h2>
        <p>Please input ico file.</p>
        <form action="#">
          <p class="input-group"><span class="input-group-prepend"><button class="btn btn-outline-primary" id="input-file-emu">Choose file</button></span><span class="custom-file"><input class="custom-file-input" id="input-file" type="file"><label class="custom-file-label" id="input-file-path" for="input-file"></label></span></p>
        </form>
        <section id="demos-parse-results"></section>
      </section>
      <section id="api">
        <%- docs.api %>
      </section>
    </main>
    <footer class="col-md-12 text-center border-top mb-4 pt-3">
      <p>Source code on GitHub: <a href="https://github.com/egy186/icojs">egy186/icojs</a></p>
    </footer>
  </div>
</body>

</html>
